Repository ebean-orm/ebean, pull requests merged in 2022-04, with the labels that each got.

#2628 Remove deprecated findLargeStream(), migrate to findStream()
  ebean-api/src/main/java/io/ebean/ExtendedServer.java
  ebean-api/src/main/java/io/ebean/Query.java
  ebean-core/src/main/java/io/ebeaninternal/server/core/DefaultServer.java
  ebean-core/src/main/java/io/ebeaninternal/server/query/DefaultFetchGroupQuery.java
  ebean-core/src/main/java/io/ebeaninternal/server/querydefn/DefaultOrmQuery.java
  ebean-querybean/src/main/java/io/ebean/typequery/TQRootBean.java
  ebean-querybean/src/test/java/org/querytest/QCustomerTest.java
  ebean-test/src/test/java/io/ebean/xtest/internal/api/TDSpiEbeanServer.java
  ebean-test/src/test/java/org/tests/query/TestQueryFindStream.java
Labels: deprecated-api, removed-api

#2629 Remove deprecated methods from ebean-api meta metric and plugin packages
  ebean-api/src/main/java/io/ebean/config/QueryPlanCapture.java
  ebean-api/src/main/java/io/ebean/meta/MetaCountMetric.java
  ebean-api/src/main/java/io/ebean/meta/MetaMetric.java
  ebean-api/src/main/java/io/ebean/meta/MetaQueryMetric.java
  ebean-api/src/main/java/io/ebean/meta/MetaTimedMetric.java
  ebean-api/src/main/java/io/ebean/meta/ServerMetrics.java
  ebean-api/src/main/java/io/ebean/metric/QueryPlanMetric.java
  ebean-api/src/main/java/io/ebean/plugin/BeanDocType.java
  ebean-api/src/main/java/io/ebean/plugin/BeanType.java
  ebean-api/src/main/java/io/ebean/plugin/ExpressionPath.java
  ebean-api/src/main/java/io/ebean/plugin/Property.java
  ebean-core/src/main/java/io/ebeaninternal/server/deploy/BeanDescriptor.java
  ebean-core/src/main/java/io/ebeanservice/docstore/api/DocStoreBeanAdapter.java
  ebean-core/src/main/java/io/ebeanservice/docstore/api/support/DocStoreBeanBaseAdapter.java
Labels: deprecated-api, removed-api

#2630 Remove deprecated methods in ebean-api - ServerCacheManager ServerCacheRegion
  ebean-api/src/main/java/io/ebean/cache/ServerCacheManager.java
  ebean-api/src/main/java/io/ebean/cache/ServerCacheRegion.java
Labels: deprecated-api, removed-api

#2631 Remove deprecated methods in ebean-api - SqlQuery
  ebean-api/src/main/java/io/ebean/SqlQuery.java
  ebean-core/src/main/java/io/ebeaninternal/server/querydefn/DefaultRelationalQuery.java
Labels: deprecated-api, removed-api

#2632 Remove deprecated methods in ebean-api - SqlUpdate
  ebean-api/src/main/java/io/ebean/SqlUpdate.java
  ebean-core/src/main/java/io/ebeaninternal/server/core/DefaultSqlUpdate.java
Labels: deprecated-api, removed-api

#2633 Remove deprecated methods in ebean-api - BeanState
  ebean-api/src/main/java/io/ebean/BeanState.java
Labels: deprecated-api, removed-api

#2637 #2636 - Remove deprecated @CreatedTimestamp and @UpdateTimestamp, migrate to @WhenCreated / @WhenModified
  ebean-api/pom.xml
  ebean-core/src/main/java/io/ebeaninternal/server/deploy/meta/DeployBeanProperty.java
  ebean-core/src/main/java/io/ebeaninternal/server/deploy/parse/AnnotationFields.java
  ebean-core/src/test/java/org/tests/model/basic/Contact.java
  ebean-core/src/test/java/org/tests/model/basic/Product.java
  ebean-test/src/test/java/org/tests/model/EGenProps.java
  ebean-test/src/test/java/org/tests/model/basic/Contact.java
  ebean-test/src/test/java/org/tests/model/basic/Product.java
Labels: deprecated-api, removed-api

#2634 Remove deprecated methods in ebean-api - DB
  ebean-api/src/main/java/io/ebean/DB.java
Labels: deprecated-api, removed-api

#2635 Remove deprecated methods in ebean-api - Database
  ebean-api/src/main/java/io/ebean/Database.java
Labels: deprecated-api, removed-api

#2639 Remove deprecated methods on ServerCache getHitRatio() -> hitRatio(), getStatistics() -> statistics()
  ebean-api/src/main/java/io/ebean/cache/ServerCache.java
  ebean-api/src/main/java/io/ebean/cache/TenantAwareCache.java
  ebean-api/src/test/java/io/ebean/cache/TenantAwareCacheTest.java
  ebean-core/src/main/java/io/ebeaninternal/server/cache/DefaultServerCache.java
  ebean-redis/src/main/java/io/ebean/redis/DuelCache.java
  ebean-redis/src/main/java/io/ebean/redis/RedisCache.java
Labels: deprecated-api, removed-api

#2642 #2641 - Provide a decent default toString() implementation for entity beans
  ebean-api/src/main/java/io/ebean/bean/BeanCollection.java
  ebean-api/src/main/java/io/ebean/bean/EntityBean.java
  ebean-api/src/main/java/io/ebean/bean/ToStringAware.java
  ebean-api/src/main/java/io/ebean/bean/ToStringBuilder.java
  ebean-api/src/main/java/io/ebean/common/BeanList.java
  ebean-api/src/main/java/io/ebean/common/BeanMap.java
  ebean-api/src/main/java/io/ebean/common/BeanSet.java
  ebean-api/src/test/java/io/ebean/bean/ToStringBuilderTest.java
  ebean-core/src/main/resources/META-INF/ebean-version.mf
  ebean-test/src/test/java/org/tests/model/elementcollection/TestElementCollectionBasicMap.java
  ebean-test/src/test/java/org/tests/model/elementcollection/TestElementCollectionBasicSet.java
  ebean-test/src/test/java/org/tests/model/elementcollection/TestElementCollectionEmbeddedList.java
  ebean-test/src/test/java/org/tests/model/elementcollection/TestElementCollectionEmbeddedMap.java
  ebean-test/src/test/java/org/tests/model/elementcollection/TestElementCollectionEnumSet.java
  pom.xml
Labels: enhancement

#2645 beanCache order by & clear did not work
  ebean-core/src/main/java/io/ebeaninternal/server/core/OrmQueryRequest.java
  ebean-test/src/test/java/org/tests/query/orderby/TestOrderByClear.java
Labels: bug

#2646 Produce deterministic DDL if @Inheritance is used
  ebean-core/src/main/java/io/ebeaninternal/server/deploy/parse/DeployInheritInfo.java
Labels: bug

#2654 Fix: Setting file with same content should not make bean dirty
  ebean-api/src/main/java/io/ebean/bean/EntityBeanIntercept.java
  ebean-test/src/test/java/org/tests/types/TestFileType.java
Labels: bug

#2656 Remove deprecated methods from Pairs, migrate setConcatSeparator() -> concatSeparator()
  ebean-api/src/main/java/io/ebean/Pairs.java
Labels: deprecated-api, removed-api

#2657 Remove deprecated methods from FetchConfig, migrate new FetchConfig().query(50) -> FetchConfig.ofQuery(50)
  ebean-api/src/main/java/io/ebean/FetchConfig.java
  ebean-test/src/test/java/io/ebean/xtest/base/FetchConfigTest.java
Labels: deprecated-api, removed-api

#2658 Remove deprecated methods from SpiServer, migrate getServerConfig() -> config() etc
  ebean-api/src/main/java/io/ebean/event/BulkTableEvent.java
  ebean-api/src/main/java/io/ebean/plugin/SpiServer.java
Labels: deprecated-api, removed-api

#2659 Remove deprecated methods from Transaction, migrate setBatchGetGeneratedKeys() -> setGetGeneratedKeys() etc
  ebean-api/src/main/java/io/ebean/Transaction.java
  ebean-core/src/main/java/io/ebeaninternal/api/SpiTransactionProxy.java
  ebean-core/src/main/java/io/ebeaninternal/server/transaction/ImplicitReadOnlyTransaction.java
  ebean-core/src/main/java/io/ebeaninternal/server/transaction/JdbcTransaction.java
  ebean-core/src/main/java/io/ebeaninternal/server/transaction/NoTransaction.java
Labels: deprecated-api, removed-api

#2660 Remove deprecated methods from BeanPersistRequest, BeanQueryRequest, BeanDeleteIdRequest
  ebean-api/src/main/java/io/ebean/event/BeanDeleteIdRequest.java
  ebean-api/src/main/java/io/ebean/event/BeanPersistRequest.java
  ebean-api/src/main/java/io/ebean/event/BeanQueryRequest.java
  ebean-core/src/main/java/io/ebeaninternal/server/core/BeanRequest.java
  ebean-core/src/main/java/io/ebeaninternal/server/persist/DeleteIdRequest.java
  ebean-core/src/test/java/io/ebeaninternal/server/expression/BaseExpressionTest.java
Labels: deprecated-api, removed-api

#2661 Remove deprecated methods from BackgroundExecutor, migrate executePeriodically() -> scheduleWithFixedDelay()
  ebean-api/src/main/java/io/ebean/BackgroundExecutor.java
  ebean-core/src/main/java/io/ebeaninternal/server/executor/DefaultBackgroundExecutor.java
Labels: deprecated-api, removed-api

#2665 NodeUsageCollector migrate from using finalize() to Cleaner
  ebean-api/src/main/java/io/ebean/bean/EntityBeanIntercept.java
  ebean-api/src/main/java/io/ebean/bean/NodeUsageCollector.java
  ebean-api/src/main/java/io/ebean/bean/NodeUsageListener.java
  ebean-api/src/test/java/io/ebean/bean/NodeUsageCollectorTest.java
  ebean-autotune/src/main/java/io/ebeaninternal/server/autotune/service/ProfileManager.java
  ebean-autotune/src/main/java/io/ebeaninternal/server/autotune/service/ProfileOrigin.java
  ebean-autotune/src/main/java/io/ebeaninternal/server/autotune/service/ProfileOriginNodeUsage.java
  ebean-autotune/src/test/java/io/ebeaninternal/server/autotune/service/ProfileOriginTest.java
  ebean-core/src/main/java/io/ebeaninternal/server/query/CQuery.java
Labels: refactor

#2666 Fix: CompareTo when discriminatorString is null
  ebean-core/src/main/java/io/ebeaninternal/server/deploy/parse/DeployInheritInfo.java
  ebean-core/src/test/java/io/ebeaninternal/server/deploy/parse/DeployInheritInfoTest.java
Labels: bug

#2669 FIX: StackOverflowException when using recursive relation within Map
  ebean-api/src/main/java/io/ebean/bean/ToStringBuilder.java
  ebean-api/src/test/java/io/ebean/bean/ToStringBuilderTest.java
Labels: bug
